<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--主配置文件，其他子系统的配置文件在此引用-->
  <!-- Spring 配置文件 -->
  
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      <resource uri="~/Config/daos.xml"/>
      <resource uri="~/Config/filter.xml"/>
      <resource uri="~/Config/services.xml"/>
      <resource uri="~/Config/look_up.xml"/>
      <resource uri="~/Config/factoryObject.xml"/>
      <!--<resource uri="~/Config/factory.xml"/>-->
    </context>
  </spring>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>